@PRINT_PORTRAIT
#DIM 체력_ターゲット
#DIM 기력_ターゲット
#DIM 만족_ターゲット
#DIM 이성_ターゲット
#DIM 표시타입
#DIM 표시サイズ
#DIM PLV, 1
#DIM 服装타입
#DIM DYNAMIC パラメータ種
#DIM DYNAMIC 改行カウンタ
#DIM DYNAMIC GDI値
#DIM GDI보존
#DIM SPACEWIDTH
#DIMS DYNAMIC 限界値チェック
GDI値 = 1000 + GDI보존
GDI보존 ++
IF GDI보존 >= 20
	GDI보존 = 0
ENDIF

표시サイズ = 20

SIF CFLAG:MASTER:우후후 >= 1
	SETCOLOR  C_Ne_PINK
PRINT ——
IF TARGET_표시状態 == 1
	PRINTBUTTON "▽[＋][TARGET]", 2003
ELSEIF TARGET_표시状態 == 0
	PRINTBUTTON "▼[－][TARGET]", 2003
ENDIF
SIF PORTRAIT_화상표시 == 1
	PRINTBUTTON "【화상표시】[×]", 2006
SIF PORTRAIT_화상표시 == 0
	PRINTBUTTON "【화상표시】[□]", 2006
	
IF PORTRAIT_簡易표시 == 0
	PRINTBUTTON "【간이얼굴표시】", 2015
ELSEIF PORTRAIT_簡易표시 == 1
	PRINTBUTTON "【전신그림표시】", 2015
ENDIF

IF PORTRAIT_簡易표시 == 0
	PRINTBUTTON "【얼굴변환】", 2016
ELSE
	PRINTFORM ————————————
ENDIF
PRINTFORM ————————————————————————————————————————————————————————————————————————————————————————————
PRINTL
RESETCOLOR
SIF TARGET_표시状態 == 1
	RETURN


PORTRAIT_표시サイズ = 10
IF PORTRAIT_화상표시 == 1
	; FLAG:3000 を、ご지정の番号に修正していただけますでしょうか。
	IF PORTRAIT_簡易표시 == 0
		CALL SHOW_TARGET_IMAGE(TARGET,GDI値,0)
		LOCALS = <div height='{2000 +200}' width='{1368 +200}' border='15' margin='35' padding='2px,2px,2px,0'><shape type='space' param='50'><button value='{803}'><img src='{GDI値}_TARGET' srcb='' height='2000' width='1368' ypos='7px'></button></div>
	ELSE
    	CALL SHOW_GRAPHICS(TARGET,GDI値,7)
		LOCALS = <div height='{1000 +200}' width='{1000 +200}' border='15' margin='35' padding='2px,2px,2px,0'><shape type='space' param='50'><button value='{803}'><img src='{GDI値}_TARGET' srcb='' height='1000' width='1000' ypos='7px'></button></div>
ENDIF
HTML_PRINT LOCALS,1
PRINTL
ELSE
	PRINT 　
ENDIF
IF PORTRAIT_화상표시 == 1 && PORTRAIT_簡易표시 == 1
	SPACEWIDTH = 26
ELSEIF PORTRAIT_화상표시 == 1
	SPACEWIDTH = 31
ELSE
	SPACEWIDTH = 0
ENDIF
PRINTFORM %"",SPACEWIDTH%


;名前基本UI
SUBSTRING NAME:TARGET, 0, 30
LOCALS = 【%RESULTS%】
PRINTBUTTON @"%LOCALS,40,LEFT%",803

PRINTFORM (호감도:
CALL FAV_RANK(CFLAG:TARGET:호감도)
PRINTFORM  {CFLAG:TARGET:호감도,8,LEFT})

IF BASE:TARGET:술기운 > 2
	SELECTCASE BASE:TARGET:술기운
		CASE IS > 1000
			SETCOLOR C_D_PINK
		CASE IS > 500
			SETCOLOR C_H_PINK
		CASEELSE 
			SETCOLOR C_PINK
	ENDSELECT
	LOCALS = 【%ALCOHOL_FACE(TARGET)%】
	PRINTFORM %LOCALS,20,LEFT%
	RESETCOLOR
ELSE
	PRINTFORM %"",20%
ENDIF


;PRINTFORM %"",19,LEFT%

IF PALM_표시状態 == 0
	PRINTBUTTON "▽", 2001
ELSEIF PALM_표시状態 == 1
	PRINTBUTTON "▼", 2001
ENDIF

FONTSTYLE 8
PRINTBUTTON "[파라]", 2011

PRINTBUTTON "[더러움]", 2012

;PARAサイド画面
FONTSTYLE 0
IF PALM_표시状態 == 0
	IF TARGET_SIDE画面 == 0
		PRINTFORM %"──┬─────────┐",26,LEFT%
	ELSEIF TARGET_SIDE画面 == 1
		PRINTFORM %"────────────┐",26,LEFT%
	ENDIF
ENDIF
PRINTL


IF PORTRAIT_화상표시 == 1
	PRINTFORM %"",SPACEWIDTH%
ELSE
	PRINT 　
ENDIF


;무드を200で割って、5つまで
LOCAL:1 = LIMIT(BASE:무드　 / 200,0,5)
PRINTFORM 【 무드 】
SIF BASE:무드 == MAXBASE:무드
	SETCOLOR 255,51,153
SIF BASE:무드 >= 1200
	SETCOLOR C_PINK
LOCALS = %"❤" * LOCAL:1%
PRINTFORM %LOCALS,20,LEFT% 
RESETCOLOR

PRINTFORM 【 분노 】
IF CFLAG:극대노
	SETCOLOR 255,0,0
	PRINTFORM %"怒",19% 
	RESETCOLOR
ELSE
	LOCAL = BASE:분노 / 200
	LOCALS = %"！" * LOCAL%
	PRINTFORM %LOCALS,19,LEFT% 
ENDIF 





;PARAサイド画面
IF PALM_표시状態 == 0
	PRINTFORM %"",19 - LOCAL:1,LEFT%
	IF TARGET_SIDE画面 == 0
		FOR パラメータ種,11,13
			SIF !STRLENS(PALAMNAME:パラメータ種)
				CONTINUE
			PRINTFORM │%PALAMNAME:パラメータ種,2,LEFT%Lv{GETPALAMLV(PALAM:パラメータ種,15),2}
			CALL PRINT_COLORBAR, (PALAM:TARGET:パラメータ種), (PALAMLV:(GETPALAMLV((PALAM:TARGET:パラメータ種), 10) + 1)), 10, UNICODE(0x2584), UNICODE(0x2584), BARCOLORSET("赤"), RESULT:1
		NEXT
	ELSEIF TARGET_SIDE画面 == 1
		PRINTFORM │
		CALL STAIN_SIDE(TARGET,"입")
	ENDIF
	PRINTFORM │
ENDIF


PRINTL
;체력
IF PORTRAIT_화상표시 == 1
	PRINTFORM %"",SPACEWIDTH%
ELSE
	PRINT 　
ENDIF

체력_ターゲット = BASE:TARGET:체력
SIF BASE:TARGET:체력 < 0
	체력_ターゲット = BASE:TARGET:체력
PRINT 【 체력 】
CALL PRINT_COLORBAR, 체력_ターゲット, MAXBASE:TARGET:체력, 41, UNICODE(0x2584), UNICODE(0x2584),  BARCOLORSET("赤"), RESULT:1
PRINTFORM  ({체력_ターゲット,5}/{MAXBASE:TARGET:체력,5})


IF PALM_표시状態 == 0
	PRINTFORM %"",15,LEFT%
	IF TARGET_SIDE画面 == 0
		FOR パラメータ種,9,11
			SIF !STRLENS(PALAMNAME:パラメータ種)
				CONTINUE
			PRINTFORM │%PALAMNAME:パラメータ種,2,LEFT%Lv{GETPALAMLV(PALAM:パラメータ種,15),2}
			CALL PRINT_COLORBAR, (PALAM:TARGET:パラメータ種), (PALAMLV:(GETPALAMLV((PALAM:TARGET:パラメータ種), 10) + 1)), 10, UNICODE(0x2584), UNICODE(0x2584), BARCOLORSET("赤"), RESULT:1
		NEXT
	ELSEIF TARGET_SIDE画面 == 1
		PRINTFORM │
		CALL STAIN_SIDE(TARGET,"손")
	ENDIF
	PRINTFORM │
ENDIF

PRINTL
;기력
IF PORTRAIT_화상표시 == 1
	PRINTFORM %"",SPACEWIDTH%
ELSE
	PRINT 　
ENDIF

기력_ターゲット = BASE:TARGET:기력
SIF BASE:TARGET:기력 < 0
	기력_ターゲット = BASE:TARGET:기력
PRINT 【 기력 】
CALL PRINT_COLORBAR, 기력_ターゲット, MAXBASE:TARGET:기력, 41, UNICODE(0x2584), UNICODE(0x2584),  BARCOLORSET("緑"), RESULT:1
PRINTFORM  ({기력_ターゲット,5}/{MAXBASE:TARGET:기력,5})



IF PALM_표시状態 == 0
	PRINTFORM %"",15,LEFT%
	IF TARGET_SIDE画面 == 0
		FOR パラメータ種,13,15
			SIF !STRLENS(PALAMNAME:パラメータ種)
				CONTINUE
			PRINTFORM │%PALAMNAME:パラメータ種,2,LEFT%Lv{GETPALAMLV(PALAM:パラメータ種,15),2}
			CALL PRINT_COLORBAR, (PALAM:TARGET:パラメータ種), (PALAMLV:(GETPALAMLV((PALAM:TARGET:パラメータ種), 10) + 1)), 10, UNICODE(0x2584), UNICODE(0x2584), BARCOLORSET("赤"), RESULT:1
		NEXT
	ELSEIF TARGET_SIDE画面 == 1
		PRINTFORM │
		CALL STAIN_SIDE(TARGET,"Ｐ")
	ENDIF

	PRINTFORM │
ENDIF

PRINTL


;만족度
IF PORTRAIT_화상표시 == 1
	PRINTFORM %"",SPACEWIDTH%
ELSE
	PRINT 　
ENDIF

만족_ターゲット = BASE:TARGET:만족
SIF BASE:TARGET:만족 < 0
	만족_ターゲット = BASE:TARGET:만족

IF BASE:TARGET:만족 < 0
	SETCOLOR C_Ne_PINK
	PRINT 【불끈불끈💢】
	CALL PRINT_COLORBAR, 만족_ターゲット, MAXBASE:TARGET:만족, 37, UNICODE(0x2584), UNICODE(0x2584),  BARCOLORSET("ピンク"), RESULT:1
ELSEIF BASE:TARGET:만족 < 200
	SETCOLOR C_Ne_PINK
	PRINT 【불끈불끈❤】
	CALL PRINT_COLORBAR, 만족_ターゲット, MAXBASE:TARGET:만족, 37, UNICODE(0x2584), UNICODE(0x2584),  BARCOLORSET("ピンク"), RESULT:1
ELSE
	PRINT 【 만족 】
	CALL PRINT_COLORBAR, 만족_ターゲット, MAXBASE:TARGET:만족, 41, UNICODE(0x2584), UNICODE(0x2584),  BARCOLORSET("青"), RESULT:1
ENDIF
RESETCOLOR
PRINTFORM  ({만족_ターゲット,5}/{MAXBASE:TARGET:만족,5})


IF PALM_표시状態 == 0
	PRINTFORM %"",15,LEFT%
	IF TARGET_SIDE画面 == 0
		FOR パラメータ種,15,17
			SIF !STRLENS(PALAMNAME:パラメータ種)
				CONTINUE
			PRINTFORM │%PALAMNAME:パラメータ種,2,LEFT%Lv{GETPALAMLV(PALAM:パラメータ種,15),2}
			CALL PRINT_COLORBAR, (PALAM:TARGET:パラメータ種), (PALAMLV:(GETPALAMLV((PALAM:TARGET:パラメータ種), 10) + 1)), 10, UNICODE(0x2584), UNICODE(0x2584), BARCOLORSET("赤"), RESULT:1
		NEXT
	ELSEIF TARGET_SIDE画面 == 1
		PRINTFORM │
		CALL STAIN_SIDE(TARGET,"Ｖ")
	ENDIF
	PRINTFORM │
ENDIF

PRINTL

;무드/이성
IF PORTRAIT_화상표시 == 1
	PRINTFORM %"",SPACEWIDTH%
ELSE
	PRINT 　
ENDIF




이성_ターゲット = BASE:TARGET:이성
LOCAL = MAX(BASE:이성 / 200,1)
PRINT 【 이성 】
CALL PRINT_COLORBAR, 이성_ターゲット, MAXBASE:TARGET:이성 , 41, UNICODE(0x2584), UNICODE(0x2584),  BARCOLORSET(""), RESULT:1
PRINTFORM  ({이성_ターゲット,5}/{MAXBASE:TARGET:이성,5})

IF PALM_표시状態 == 0
	PRINTFORM %"",15,LEFT%
	IF TARGET_SIDE画面 == 0
		FOR パラメータ種,20,22
			SIF !STRLENS(PALAMNAME:パラメータ種)
				CONTINUE
			PRINTFORM │%PALAMNAME:パラメータ種,2,LEFT%Lv{GETPALAMLV(PALAM:パラメータ種,15),2}
			CALL PRINT_COLORBAR, (PALAM:TARGET:パラメータ種), (PALAMLV:(GETPALAMLV((PALAM:TARGET:パラメータ種), 10) + 1)), 10, UNICODE(0x2584), UNICODE(0x2584), BARCOLORSET("赤"), RESULT:1
		NEXT
	ELSEIF TARGET_SIDE画面 == 1
		PRINTFORM │
		CALL STAIN_SIDE(TARGET,"Ａ")
	ENDIF
	PRINTFORM │
ENDIF
PRINTL


;쾌락バー
IF PORTRAIT_화상표시 == 1
	PRINTFORM %"",SPACEWIDTH%
ELSE
	PRINT 　
ENDIF

FOR LOCAL,0,5
	PRINTFORM  |
	CALL PRINT_COLORBAR, (PALAM:TARGET:LOCAL), (PALAMLV:(GETPALAMLV((PALAM:TARGET:LOCAL), 10) + 1)), 10, UNICODE(0x2584), UNICODE(0x2584), BARCOLORSET("青"), RESULT:1
	PRINTFORM |
NEXT

IF PALM_표시状態 == 0
	PRINTFORM %"",13,LEFT%　
	IF TARGET_SIDE画面 == 0
		FOR パラメータ種,30,32
			SIF !STRLENS(PALAMNAME:パラメータ種)
				CONTINUE
			PRINTFORM │%PALAMNAME:パラメータ種,2,LEFT%Lv{GETPALAMLV(PALAM:パラメータ種,15),2}
			CALL PRINT_COLORBAR, (PALAM:TARGET:パラメータ種), (PALAMLV:(GETPALAMLV((PALAM:TARGET:パラメータ種), 10) + 1)), 10, UNICODE(0x2584), UNICODE(0x2584), BARCOLORSET("赤"), RESULT:1
		NEXT
	ELSEIF TARGET_SIDE画面 == 1
		PRINTFORM │
		CALL STAIN_SIDE(TARGET,"Ｂ")
	ENDIF
	PRINTFORM │
ENDIF

PRINTL 

;쾌락ステータス
IF PORTRAIT_화상표시 == 1
	PRINTFORM %"",SPACEWIDTH%
ELSE
	PRINT 　
ENDIF
FOR LOCAL,0,5
	PRINTFORM %"",3,LEFT%
	PRINTFORM %PALAMNAME:LOCAL%Lv{GETPALAMLV(PALAM:LOCAL,15),2}  
NEXT


IF PALM_표시状態 == 0
	PRINTFORM %"",13,LEFT%　
	IF TARGET_SIDE画面 == 0
		FOR パラメータ種,32,102
			SIF !STRLENS(PALAMNAME:パラメータ種)
				CONTINUE
			PRINTFORM │%PALAMNAME:パラメータ種,2,LEFT%Lv{GETPALAMLV(PALAM:パラメータ種,15),2}
			CALL PRINT_COLORBAR, (PALAM:TARGET:パラメータ種), (PALAMLV:(GETPALAMLV((PALAM:TARGET:パラメータ種), 10) + 1)), 10, UNICODE(0x2584), UNICODE(0x2584), BARCOLORSET("赤"), RESULT:1
		NEXT
	ELSEIF TARGET_SIDE画面 == 1
		PRINTFORM │
		CALL STAIN_SIDE(TARGET,"질")
	ENDIF
	PRINTFORM │
ENDIF
PRINTL

;衣装
IF PORTRAIT_화상표시 == 1
	PRINTFORM %"",SPACEWIDTH%
ELSE
	PRINTFORM %"",2,LEFT%
ENDIF
IF CFLAG:MASTER:우후후 == 1
	SETCOLOR C_YELLOW
;	PRINT □복장(탈의가능)□————————————————————————————————————————————————————————————
	PRINT □복장(탈의가능)□—
	PRINTBUTTON "【속옷차림】", 204
	PRINT —
	PRINTBUTTON "【전라차림】", 205
	PRINT ——————————————————————————————————
	RESETCOLOR
ELSE
	PRINT □ 복장 □—————————————————————————————————————————————————————————————————————
ENDIF

IF PALM_표시状態 == 0
	IF TARGET_SIDE画面 == 0
		PRINTFORM %"",1,LEFT%
		PRINTFORM %"└─────────┴─────────┘",30,LEFT%
	ELSEIF TARGET_SIDE画面 == 1
		PRINTFORM %"",1,LEFT%
		PRINTFORM %"└───────────────────┘",30,LEFT%
	ENDIF
ENDIF

PRINTL

SIF PORTRAIT_화상표시 == 1
	PRINTFORM %"",SPACEWIDTH%

IF !EQUIP:TARGET:0
	PRINT 【전라】
ELSE
	FOR 服装타입,1,20
		IF 服装타입 == 6 || 服装타입 == 10
			PRINT
		ELSE
			IF STRLENS(CLOTHNAME(服装타입,EQUIP:TARGET:服装타입))
				IF CFLAG:MASTER:우후후 == 1
					VARSET LOCALS
					LOCALS = %CLOTHNAME(服装타입,EQUIP:TARGET:服装타입)%
					PRINTBUTTON "【"+LOCALS+"】", 210 + 服装타입
				ELSE
					PRINTFORM 【%CLOTHNAME(服装타입,EQUIP:TARGET:服装타입)%】
				ENDIF
				限界値チェック += CLOTHNAME(服装타입,EQUIP:TARGET:服装타입)
				IF STRLENS(限界値チェック) > 50
					BREAK
				ENDIF
			ENDIF
		ENDIF
	NEXT
	IF (EQUIP:TARGET:7 >= 1 || EQUIP:TARGET:9 >= 1 || EQUIP:TARGET:15 >= 1)
		PRINTFORM 【？？？】
	ELSEIF STRLENS(CLOTHNAME(6,EQUIP:TARGET:6))
		IF CFLAG:MASTER:우후후 == 1
			VARSET LOCALS
			LOCALS = %CLOTHNAME(6,EQUIP:TARGET:6)%
			PRINTBUTTON "【"+LOCALS+"】", 203
		ELSE
			PRINTFORM 【%CLOTHNAME(6,EQUIP:TARGET:6)%】
		ENDIF
	ENDIF

	IF (EQUIP:TARGET:13 >= 1 || EQUIP:TARGET:15 >= 1)
		PRINTFORM 【？？？】
	ELSEIF STRLENS(CLOTHNAME(10,EQUIP:TARGET:10))
		IF CFLAG:MASTER:우후후 == 1
			VARSET LOCALS
			LOCALS = %CLOTHNAME(10,EQUIP:TARGET:10)%
			PRINTBUTTON "【"+LOCALS+"】", 202
		ELSE
			PRINTFORM 【%CLOTHNAME(10,EQUIP:TARGET:10)%】
		ENDIF
	ENDIF
	IF STRLENS(限界値チェック) > 50
		PRINTFORM …
	ENDIF
ENDIF

PRINTL
IF PORTRAIT_화상표시 == 1
	PRINTFORM %"",SPACEWIDTH%
ELSE
	PRINT 
ENDIF

CALL SHOW_EQUIP_1
;CALL SHOW_EQUIP_3
PRINTL


