;顔グラ표시、캐릭터_IDが必要
@SHOW_GRAPHICS(캐릭터_ID,SPR値,サムネ플래그)
#DIM DYNAMIC 캐릭터_ID
#DIM DYNAMIC SPR値
#DIM DYNAMIC カウンタ
#DIM DYNAMIC サムネ플래그
#DIM DYNAMIC SRC_HEIGHT
#DIM DYNAMIC SRC_WIDTH
#DIM DYNAMIC GRAPH_SIZE
#DIMS DYNAMIC 화상コード
GDISPOSE SPR値
IF 캐릭터_ID == -1
	GCREATEFROMFILE SPR値, @"汎用顔グラ.png"
	SPRITECREATE @"-1_THUMB", SPR値
	RETURN

ENDIF
IF サムネ플래그 == 1
	SPRITEDISPOSE @"{NO:캐릭터_ID}_THUMB"
ELSEIF サムネ플래그 == 2
	SPRITEDISPOSE @"{SPR値}_FACE"
ELSEIF サムネ플래그 == 3
	SPRITEDISPOSE @"{SPR値}_WINDOW"
ELSEIF サムネ플래그 == 7
	SPRITEDISPOSE @"{NO:캐릭터_ID}_TARGET"
ELSE
	SPRITEDISPOSE @"{NO:캐릭터_ID}_FACE"
ENDIF


;プレイヤー캐릭터설정
IF 캐릭터_ID == 0
	IF CFLAG:캐릭터_ID:커스텀얼굴 == 0
		IF !ENUMFILES("RESOURCES/MASTER", @"{CFLAG:MASTER:얼굴그래픽설정}_*", 1)
			GCREATEFROMFILE SPR値, @"汎用顔グラ.png"
		ELSE
			SPLIT RESULTS, "\\", RESULTS
			GCREATEFROMFILE SPR値, "MASTER/"+RESULTS:(RESULT-1)
		ENDIF
	ELSEIF CFLAG:캐릭터_ID:커스텀얼굴 == 1
		IF !ENUMFILES("RESOURCES/MASTER", @"10_*", 1)
			GCREATEFROMFILE SPR値, @"汎用顔グラ.png"
		ELSE
			SPLIT RESULTS, "\\", RESULTS
			GCREATEFROMFILE SPR値, "MASTER/"+RESULTS:(RESULT-1)
		ENDIF
	ENDIF
;모브캐릭터설정
ELSEIF TALENT:캐릭터_ID:모브 >= 1
	IF !ENUMFILES("RESOURCES/MOBS", @"{TALENT:캐릭터_ID:모브}_*", 1)
		GCREATEFROMFILE SPR値, @"汎用顔グラ.png"
	ELSE
		SPLIT RESULTS, "\\", RESULTS
		GCREATEFROMFILE SPR値, "MOBS/"+RESULTS:(RESULT-1)
	ENDIF
	;복제캐릭터설정 レイ追記250611
ELSEIF TALENT:캐릭터_ID:복제 >= 1
	IF !ENUMFILES("RESOURCES/CHARA", @"{CFLAG:캐릭터_ID:그래픽설정}_*", 1)
		GCREATEFROMFILE SPR値, @"汎用顔グラ.png"
	ELSE
		SPLIT RESULTS, "\\", RESULTS
		GCREATEFROMFILE SPR値, "CHARA/"+RESULTS:(RESULT-1)
	ENDIF

;その他설정
ELSE
	IF CFLAG:캐릭터_ID:ALT그림 >= 1
		IF ENUMFILES("RESOURCES/CHARA", @"{NO:캐릭터_ID}_FACE_{(CFLAG:캐릭터_ID:ALT그림 + 1)}*")
			SPLIT RESULTS, "\\", RESULTS
			GCREATEFROMFILE SPR値, "CHARA/"+RESULTS:(RESULT-1)
		ELSE
			GCREATEFROMFILE SPR値, @"汎用顔グラ.png"
		ENDIF
	ELSE
		IF ENUMFILES("RESOURCES/CHARA", @"{NO:캐릭터_ID}_*") || ENUMFILES("RESOURCES/CHARA", @"%NAME:캐릭터_ID%_*")
			SPLIT RESULTS, "\\", RESULTS
			GCREATEFROMFILE SPR値, "CHARA/"+RESULTS:(RESULT-1)
		ELSEIF ENUMFILES("RESOURCES/DUEL", @"{NO:캐릭터_ID}_*") || ENUMFILES("RESOURCES/DUEL", @"%NAME:캐릭터_ID%_*")
			SPLIT RESULTS, "\\", RESULTS
			GCREATEFROMFILE SPR値, "DUEL/"+RESULTS:(RESULT-1)
		ELSE
			GCREATEFROMFILE SPR値, @"汎用顔グラ.png"
		ENDIF

	ENDIF
ENDIF
SRC_HEIGHT = GHEIGHT(SPR値)
SRC_WIDTH = GWIDTH(SPR値)



IF サムネ플래그 == 1
	SPRITEDISPOSE @"{NO:캐릭터_ID}_THUMB"
	SPRITECREATE @"{NO:캐릭터_ID}_THUMB", SPR値
ELSEIF GROUPMATCH(サムネ플래그,2,5,6)
	SPRITEDISPOSE @"{SPR値}_FACE"
	SPRITECREATE @"{SPR値}_FACE", SPR値
	IF サムネ플래그 == 2
		IF 캐릭터_ID == 0
			화상コード =  <button value='{804}'><img src='{SPR値}_FACE' srcb='' height='{MAS_PORTRAIT_표시サイズ*100}' width='{MAS_PORTRAIT_표시サイズ*100}'></button>
		ELSE
			화상コード =  <button value='{803}'><img src='{SPR値}_FACE' srcb='' height='{PORTRAIT_표시サイズ*100}' width='{PORTRAIT_표시サイズ*100}'></button>
		ENDIF
	ELSEIF サムネ플래그 == 5
		화상コード = <button value='{9010}'><img src='{SPR値}_FACE' srcb='' height='{1000}' width='{1000}'></button>
	ELSEIF サムネ플래그 == 6
		화상コード = <img src='{SPR値}_FACE' srcb='' height='{3000}' width='{3000}'>
		GWIDTH SPR値
		GRAPH_SIZE = RESULT
		GDISPOSE 2030
		IF ENUMFILES("RESOURCES/WAKU", @"WAKU_DUEL.*")
			SPLIT RESULTS, "\\", RESULTS
			GCREATEFROMFILE 2030, "WAKU/"+RESULTS:(RESULT-1)
			SPRITECREATE @"WAKU_DUEL", 2030
		ENDIF
		GDRAWSPRITE SPR値, @"WAKU_DUEL",0,0,GRAPH_SIZE,GRAPH_SIZE

		HTML_PRINT 화상コード,20
		FOR カウンタ,0,30
			PRINTL
		NEXT
		RETURN 
	ENDIF
	HTML_PRINT 화상コード,20
ELSEIF サムネ플래그 == 3
	SPRITEDISPOSE @"{SPR値}_WINDOW"
	SPRITECREATE @"{SPR値}_WINDOW", SPR値, 0, SRC_HEIGHT * 1/10, SRC_WIDTH, SRC_HEIGHT * 6/10
ELSEIF サムネ플래그 == 4
	SPRITEDISPOSE @"{SPR値}_DUEL"
	SPRITECREATE @"{SPR値}_DUEL", SPR値
ELSEIF サムネ플래그 == 7
	SPRITEDISPOSE @"{SPR値}_TARGET"
	SPRITECREATE @"{SPR値}_TARGET", SPR値
ELSE
	SPRITEDISPOSE @"{NO:캐릭터_ID}_FACE"
	SPRITECREATE @"{NO:캐릭터_ID}_FACE", SPR値
ENDIF


;듀얼などで표시される카드가 蔵王を枠付きで표시する。
@PRINT_STATE_DUEL(カード_ID,倍率,顔플래그,ALT화상플래그)
#DIM DYNAMIC カウンタ
#DIM DYNAMIC 화상ID
#DIM DYNAMIC カード_ID
#DIMS DYNAMIC STRMATCHING
#DIM DYNAMIC GDI値
#DIM DYNAMIC 플래그
#DIM DYNAMIC 설정플래그
#DIMS DYNAMIC 설정名前
#DIMS DYNAMIC 캐릭터_HTML
#DIM DYNAMIC GRAPH_SIZE
#DIM DYNAMIC 倍率
#DIM DYNAMIC 顔플래그
#DIM DYNAMIC ALT화상플래그
#DIM GDI보존

SIF カード_ID == -1
	RETURN 0

SIF 倍率 <= 1
	倍率 = 1
;그대로 カードIDを취득していく感じ。
화상ID = カード_ID
VARSET RESULT
GDI値 = 2000 + GDI보존
GDISPOSE GDI値

GDI보존 ++
IF GDI보존 >= 20
	GDI보존 = 0
ENDIF


;ALT화상플래그……研究中
IF ALT화상플래그 >= 1 
	IF ENUMFILES("RESOURCES/DUEL", @"{화상ID}_DUEL_{ALT화상플래그}.*")
		SPLIT RESULTS, "\\", RESULTS
		GCREATEFROMFILE GDI値, "DUEL/"+RESULTS:(RESULT-1)
		SPRITEDISPOSE @"{GDI値}_DUEL"
		SPRITECREATE @"{GDI値}_DUEL", GDI値
		GWIDTH GDI値
		GRAPH_SIZE = RESULT
		IF SPRITECREATED(@"{GDI値}_DUEL")
			IF 倍率 <= 1
				캐릭터_HTML = <button value='{1000}'><img src='{GDI値}_DUEL' srcb='' height='{2500 * 倍率}' width='{2500 * 倍率}'></button>
			ELSE
				캐릭터_HTML = <img src='{GDI値}_DUEL' srcb='' height='{2500 * 倍率}' width='{2500 * 倍率}'>
			ENDIF
			IF 顔플래그 == 2
				캐릭터_HTML = <button value='{화상ID + (100000 * ALT화상플래그)}'><img src='{GDI値}_DUEL' srcb='' height='{1000}' width='{1000}'></button>
			ENDIF

			GDISPOSE 2030
			IF ENUMFILES("RESOURCES/WAKU", @"WAKU_DUEL.*")
				SPLIT RESULTS, "\\", RESULTS
				GCREATEFROMFILE 2030, "WAKU/"+RESULTS:(RESULT-1)
				SPRITECREATE @"WAKU_DUEL", 2030
			ENDIF
			GDRAWSPRITE GDI値, @"WAKU_DUEL",0,0,GRAPH_SIZE,GRAPH_SIZE		
			HTML_PRINT 캐릭터_HTML,1
		ENDIF
		IF 顔플래그 != 2
			FOR カウンタ,0,(25 * 倍率) 
				PRINTL
			NEXT
		ENDIF
		RETURN 1
	ELSE
		RETURN 0
	ENDIF
ENDIF

;カード화상があったらコッチを優先する。/PRINTSTATE표시なら必ずここを通る
IF ENUMFILES("RESOURCES/DUEL", @"{화상ID}_DUEL.*") && 顔플래그 != 1
	IF カード화상切り替え:화상ID >= 1 && 화상ID <= 999999 && 顔플래그 == 0
		IF ENUMFILES("RESOURCES/DUEL", @"{화상ID}_DUEL_{(カード화상切り替え:화상ID + 1)}*")
			SPLIT RESULTS, "\\", RESULTS
		ELSE
			RESULTS = ENUMFILES("RESOURCES/DUEL", @"{화상ID}_DUEL.*")
			SPLIT RESULTS, "\\", RESULTS
		ENDIF
	ELSE
		SPLIT RESULTS, "\\", RESULTS
	ENDIF
	GCREATEFROMFILE GDI値, "DUEL/"+RESULTS:(RESULT-1)
	SPRITEDISPOSE @"{GDI値}_DUEL"
	SPRITECREATE @"{GDI値}_DUEL", GDI値
	GWIDTH GDI値
	GRAPH_SIZE = RESULT
	IF SPRITECREATED(@"{GDI値}_DUEL")
		IF 倍率 <= 1
			캐릭터_HTML = <button value='{1000}'><img src='{GDI値}_DUEL' srcb='' height='{2500 * 倍率}' width='{2500 * 倍率}'></button>
		ELSE
			캐릭터_HTML = <img src='{GDI値}_DUEL' srcb='' height='{2500 * 倍率}' width='{2500 * 倍率}'>
		ENDIF
		IF 顔플래그 == 2
			캐릭터_HTML = <button value='{화상ID}'><img src='{GDI値}_DUEL' srcb='' height='{1000}' width='{1000}'></button>
		ENDIF

		GDISPOSE 2030
		IF ENUMFILES("RESOURCES/WAKU", @"WAKU_DUEL.*")
			SPLIT RESULTS, "\\", RESULTS
			GCREATEFROMFILE 2030, "WAKU/"+RESULTS:(RESULT-1)
			SPRITECREATE @"WAKU_DUEL", 2030
		ENDIF
		GDRAWSPRITE GDI値, @"WAKU_DUEL",0,0,GRAPH_SIZE,GRAPH_SIZE		
		HTML_PRINT 캐릭터_HTML,1
	ENDIF
	IF 顔플래그 != 2
		FOR カウンタ,0,(25 * 倍率) 
			PRINTL
		NEXT
	ENDIF
	RETURN 1
ENDIF



;顔화상が会ったらそっちを표시。	
IF ENUMFILES("RESOURCES/CHARA", @"{화상ID}_FACE.*")
	STRMATCHING = _FACE
	SPLIT RESULTS, "\\", RESULTS
	GCREATEFROMFILE GDI値, "CHARA/"+RESULTS:(RESULT-1)
	SPRITEDISPOSE @"{GDI値}_DUEL"
	SPRITECREATE @"{GDI値}_DUEL", GDI値
	GWIDTH GDI値
	GRAPH_SIZE = RESULT
	IF SPRITECREATED(@"{GDI値}_DUEL")
		IF 倍率 <= 1
			캐릭터_HTML = <button value='{1000}'><img src='{GDI値}_DUEL' srcb='' height='{2500 * 倍率}' width='{2500 * 倍率}'></button>
		ELSE
			캐릭터_HTML = <img src='{GDI値}_DUEL' srcb='' height='{2500 * 倍率}' width='{2500 * 倍率}'>
		ENDIF
		GDISPOSE 2030
		IF ENUMFILES("RESOURCES/WAKU", @"WAKU_DUEL.*")
			SPLIT RESULTS, "\\", RESULTS
			GCREATEFROMFILE 2030, "WAKU/"+RESULTS:(RESULT-1)
			SPRITECREATE @"WAKU_DUEL", 2030
		ENDIF
		GDRAWSPRITE GDI値, @"WAKU_DUEL",0,0,GRAPH_SIZE,GRAPH_SIZE
		HTML_PRINT 캐릭터_HTML,1
	ENDIF
	FOR カウンタ,0,(25 * 倍率) 
		PRINTL
	NEXT
	RETURN 1
ENDIF

RETURN 0

;PRINTSTATEで使われる短冊を설정する。
@PRINT_STATE_INFO(캐릭터_ID,화상パス지정)
#DIM DYNAMIC カウンタ
#DIM DYNAMIC 캐릭터_ID
#DIM DYNAMIC 화상ID
#DIM DYNAMIC GDI値
#DIM DYNAMIC 플래그
#DIM DYNAMIC 설정플래그
#DIMS DYNAMIC 캐릭터_HTML
#DIM DYNAMIC サムネ_ID
#DIMS DYNAMIC 화상パス지정
#DIM DYNAMIC TOTAL
#DIM GDI보존
#DIM DYNAMIC GRAPH_SIZE


GDI値 = 3000 + GDI보존
GDISPOSE GDI値
화상ID = NO:캐릭터_ID
;PRINTFORML 화상パス지정:%화상パス지정%？
IF 화상パス지정 != ""
;	PRINTFORML えっここ？
	IF ENUMFILES("RESOURCES/DUEL", @"%화상パス지정%")
		SPLIT RESULTS, "\\", RESULTS
		GCREATEFROMFILE GDI値, "DUEL/"+RESULTS:(RESULT-1)
	ENDIF
	GOTO SKIP_SET
ENDIF
;PRINTFORML TALENT:캐릭터_ID:모브:{TALENT:캐릭터_ID:모브}
IF TALENT:캐릭터_ID:모브 >= 1
	화상ID = TALENT:캐릭터_ID:모브 + 9100
	TOTAL = ENUMFILES(@"RESOURCES/MOB_UFUFU/{화상ID}", @"{화상ID}_BODY*", 0)
	IF TOTAL >= 1
		GCREATEFROMFILE GDI値, SUBSTRING(RESULTS:(RAND:TOTAL), 10, -1)
		GOTO SKIP_SET
	ENDIF
ENDIF
;その캐릭터のIDを確認する
CALL FIND_CHARA_GID(캐릭터_ID)
IF RESULT == -1
	RETURN 0
ELSE
	화상ID = RESULT
	SPLIT RESULTS, "\\", RESULTS
	GCREATEFROMFILE GDI値, "DUEL/"+RESULTS:(RESULT-1)
ENDIF

$SKIP_SET
GWIDTH GDI値
GRAPH_SIZE = RESULT
SPRITEDISPOSE @"{화상ID}_TACHIE"
SPRITECREATE @"{화상ID}_TACHIE", GDI値, GRAPH_SIZE*5/32, 0, GRAPH_SIZE*22/32, GRAPH_SIZE
IF SPRITECREATED(@"{화상ID}_TACHIE")
	캐릭터_HTML = <button value='{9011}'><img src='{화상ID}_TACHIE' srcb='' height='{3550}' width='{2320}'></button>
	GDISPOSE 3030
	IF ENUMFILES("RESOURCES/WAKU", @"WAKU_TACHI.*")
		SPLIT RESULTS, "\\", RESULTS
		GCREATEFROMFILE 3030, "WAKU/"+RESULTS:(RESULT-1)
		SPRITECREATE @"WAKU_TACHI", 3030
	ENDIF
	GDRAWSPRITE GDI値, @"WAKU_TACHI", GRAPH_SIZE*5/32, 0, GRAPH_SIZE*22/32+1, GRAPH_SIZE
	HTML_PRINT 캐릭터_HTML,1
ENDIF

GDI보존 ++

IF GDI보존 >= 20
	GDI보존 = 0
ENDIF



;듀얼などで표시される카드가蔵王を枠付きで표시する。
@PRINT_STATE_THUMB(カード_ID)
#DIM DYNAMIC カウンタ
#DIM DYNAMIC 화상ID
#DIM DYNAMIC カード_ID
#DIMS DYNAMIC STRMATCHING
#DIM DYNAMIC GDI値
#DIM DYNAMIC 플래그
#DIM DYNAMIC 설정플래그
#DIMS DYNAMIC 설정名前
#DIMS DYNAMIC 캐릭터_HTML
#DIM DYNAMIC GRAPH_SIZE
#DIM DYNAMIC 倍率
#DIM DYNAMIC 顔플래그
#DIM GDI보존

SIF カード_ID == -1
	RETURN 0

SIF 倍率 <= 1
	倍率 = 1
;そのままカードIDを취득していく感じ。
화상ID = カード_ID
VARSET RESULT
GDI値 = 2500 + GDI보존
GDISPOSE GDI値

GDI보존 ++
IF GDI보존 >= 100
	GDI보존 = 0
ENDIF


;カード화상があったらコッチを優先する。
IF ENUMFILES("RESOURCES/DUEL", @"{화상ID}_DUEL.*") && 顔플래그 != 1
	SPLIT RESULTS, "\\", RESULTS
	GCREATEFROMFILE GDI値, "DUEL/"+RESULTS:(RESULT-1)
	SPRITEDISPOSE @"{GDI値}_DUEL"
	SPRITECREATE @"{GDI値}_DUEL", GDI値
	GWIDTH GDI値
	GRAPH_SIZE = RESULT
	IF SPRITECREATED(@"{GDI値}_DUEL")
		캐릭터_HTML = <img src='{GDI値}_DUEL' srcb='' height='{800 * 倍率}' width='{800 * 倍率}'>	
		HTML_PRINT 캐릭터_HTML
	ENDIF
	IF 顔플래그 != 2
		FOR カウンタ,0,(25 * 倍率) 
			PRINTL
		NEXT
	ENDIF
	RETURN 1
ENDIF

;顔화상が会ったらそっちを표시。	
IF ENUMFILES("RESOURCES/CHARA", @"{화상ID}_FACE.*")
	STRMATCHING = _FACE
;	CALL SHOW_GRAPHICS(화상ID,GDI値,4)
	SPLIT RESULTS, "\\", RESULTS
	GCREATEFROMFILE GDI値, "CHARA/"+RESULTS:(RESULT-1)
	SPRITEDISPOSE @"{GDI値}_DUEL"
	SPRITECREATE @"{GDI値}_DUEL", GDI値
	GWIDTH GDI値
	GRAPH_SIZE = RESULT
	IF SPRITECREATED(@"{GDI値}_DUEL")
		캐릭터_HTML = <img src='{GDI値}_DUEL' srcb='' height='{800 * 倍率}' width='{800 * 倍率}'>	
		HTML_PRINT 캐릭터_HTML
	ENDIF
	RETURN 1
ENDIF

RETURN 0






;듀얼などで표시されるカード화상を枠付きで표시する。
@PRINT_STATE_MOBS(캐릭터_ID,倍率)
#DIM DYNAMIC カウンタ
#DIM DYNAMIC 화상ID
#DIM DYNAMIC カード_ID
#DIMS DYNAMIC STRMATCHING
#DIM DYNAMIC GDI値
#DIM DYNAMIC 플래그
#DIM DYNAMIC 설정플래그
#DIMS DYNAMIC 설정名前
#DIMS DYNAMIC 캐릭터_HTML
#DIM DYNAMIC GRAPH_SIZE
#DIM DYNAMIC 倍率
#DIM DYNAMIC 캐릭터_ID
#DIM GDI보존

SIF TALENT:캐릭터_ID:모브 == 0
	RETURN 0

SIF 倍率 <= 1
	倍率 = 1
;そのままカードIDを취득していく感じ。
화상ID = TALENT:캐릭터_ID:모브 + 9100
VARSET RESULT
GDI値 = 2000 + GDI보존
GDISPOSE GDI値

GDI보존 ++
IF GDI보존 >= 20
	GDI보존 = 0
ENDIF

IF ENUMFILES(@"RESOURCES/MOB_UFUFU/{화상ID}", @"{화상ID}_BODY*", 0)
	SPLIT RESULTS, "\\", RESULTS
	GCREATEFROMFILE GDI値, @"MOB_UFUFU/{화상ID}"+RESULTS:(RESULT-1)
	SPRITEDISPOSE @"{GDI値}_DUEL"
	SPRITECREATE @"{GDI値}_DUEL", GDI値
	GWIDTH GDI値
	GRAPH_SIZE = RESULT
	IF SPRITECREATED(@"{GDI値}_DUEL")
;		IF 倍率 <= 1
			캐릭터_HTML = <button value='{1000}'><img src='{GDI値}_DUEL' srcb='' height='{2500 * 倍率}' width='{1200 * 倍率}'></button>
;		ELSE
;			캐릭터_HTML = <img src='{GDI値}_DUEL' srcb='' height='{2500 * 倍率}' width='{2500 * 倍率}'>
;		ENDIF
		GDISPOSE 2030
		IF ENUMFILES("RESOURCES/WAKU", @"WAKU_DUEL.*")
			SPLIT RESULTS, "\\", RESULTS
			GCREATEFROMFILE 2030, "WAKU/"+RESULTS:(RESULT-1)
			SPRITECREATE @"WAKU_DUEL", 2030
		ENDIF
		GDRAWSPRITE GDI値, @"WAKU_DUEL",0,0,GRAPH_SIZE,GRAPH_SIZE		
		HTML_PRINT 캐릭터_HTML,1
	ENDIF
ENDIF
RETURN 1


RETURN 0
